*{
    //border: solid black 1px;
}

#question{
    margin-top: 2em;
    margin-left: 2em;
    width: 65%;
    height: 13em;
    overflow: scroll;
    background-color: #eee;
    overflow-x:hidden; 
}

#question p{
    font-size: 20px;
    margin: 1em;
}

